.the-comment {
  margin: 15px 30px;
  padding: 5px;
  border: 2px solid rgba(57, 57, 57, 1);
}

.title-com {
  color: rgba(93, 93, 93, 1);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.email {
  font-size: 1rem;
  color: rgba(93, 93, 93, 1);
}

.com-text {
  color: rgba(93, 93, 93, 1);
}
