.the-single-post {
    margin: 15px 30px;
}

.single-title {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 1.9rem; 
    color:rgba(58, 58, 58, 1);
}

.single-text {
    margin-top: 10px;
    color:rgba(93, 93, 93, 1);
}